.product_main_img{
    background: url(../img/product_bg.jpg) center/cover no-repeat;
    height: 100%;
    width: 100%;
}
.product_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.category_list{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 24px 120px;
    border-radius: 5px;
    gap: 32px;
    transform: translateY(-33px);
    box-shadow: 0 4px 4px #00000022;
}
.category{
    cursor: pointer;
    font-size: 18px;
    color: #424242;
}
.category.on{
    font-weight: 700;
}

.product_intro_section .text_area{
    text-align: center;
    width: 636px;
    margin: auto;
    margin-bottom: 80px;
}
.business_slide img{
    width: 100%;
}
.product_intro_section .text_area p{
    color: #424242;
}

.product_intro_section .swiper .swiper-slide img{
    width: 100%;
    padding: 10%;
}
.product_intro_section .swiper .swiper-pagination{
    position: static;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    font-size: 24px;
    color: #131313;
}
.swiper-controls {
    display: flex;
    justify-content: center;
    align-self: center;
}

.swiper-button span{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
    color: #fff;
}
.pagi-control{
    display: flex;
    width: auto;
    justify-content: end;
    align-self: center;
    margin-top: 40px;
    gap: 12px;
}
.pagi-control button{
    border: none;
    width: 40px;
    height: 40px;
    background-color: #0057FF;
    border-radius: 5px;
}
.pagi-control button:hover{
    background-color: #0008D0;
}
@media all and (max-width: 1280px){
    .product_main .text_area{
        margin-top: 160px;
    }
    .product_main .text_area .title_para{
        font-size: 16px;
    }
    .product_main_img{
        height: 400px;
    }
    .category_list{
        background-color: #fff;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 20px;
        gap: 12px 20px;
        border-radius: 5px;
        transform: translateY(0px);
        box-shadow: none;
        font-size: 16px;
        width: auto;
    }
    .product_intro_section .text_area{
        width: 100%;
    }
    .product_intro_section .swiper .swiper-pagination > span{
        width: 16px;
        height: 16px;
        margin: 0 8px;
    }
  }