.product_main_img{
    background: url(../img/product_bg.jpg) center/cover no-repeat;
    height: 100%;
    width: 100%;
}
.product_main{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.category_list{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 24px 120px;
    border-radius: 5px;
    gap: 32px;
    transform: translateY(-33px);
    box-shadow: 0 4px 4px #00000022;
}
.category{
    cursor: pointer;
    font-size: 18px;
    color: #424242;
}
.category.on{
    font-weight: 700;
}

.product_intro_section .text_area{
    text-align: center;
    width: 636px;
    margin: auto;
    margin-bottom: 80px;
}
.product_intro_section .text_area p{
    color: #424242;
}
.product_intro_section .swiper .swiper-slide img{
    width: 100%;
}
.product_intro_section .swiper .swiper-pagination{
    position: static;
    margin-top: 80px;
}
.product_intro_section .swiper-pagination-bullet.swiper-pagination-bullet-active{
    background-color: #0057FF;
}
.product_intro_section .swiper-pagination-bullet{
    background-color: #D9D9D9;
    opacity: 1;
}